<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>MD5, SHA-1, SHA-256 COLLECTOR</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="static/sty.css" type="text/css">


</head>

<body>
  <div class="container">
  <h1 style="color: white">  Welcome {{name}}  <a style="color: white" href='http://127.0.0.1:5000/logout'>Logout</a></h1>
    <h2> <center>HASHES UNIVERSE - HOME</center></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">S. No.</div>
      <div class="col col-2">SOURCES</div>
      <div class="col col-4">SORT</div>


    </li>

    <li class="table-row">
      <div class="col col-1" data-label="S.No.">1.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source1_md5'>www.virussign.com (MD5)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source1_md5_sort'>Sort By Hash</a></div>


    </li>

    <li class="table-row">
      <div class="col col-1" data-label="S.No.">2.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source1_sha1'>www.virussign.com (SHA1)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source1_sha1_sort'>Sort By Hash</a></div>


    </li>
    <li class="table-row">
      <div class="col col-1" data-label="S.No.">3.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source1_sha256'>www.virussign.com (SHA256)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source1_sha256_sort'>Sort By Hash</a></div>


    </li>

    <li class="table-row">
      <div class="col col-1" data-label="S.No.">4.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source2_md5'>avcaeser.malware.lu (MD5)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source2_md5_sort'>Sort By Hash</a></div>


    </li>

    <li class="table-row">
      <div class="col col-1" data-label="S.No.">5.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white"  href='http://127.0.0.1:5000/source2_sha1'>avcaeser.malware.lu (SHA1)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source2_sha1_sort'>Sort By Hash</a></div>

    </li>
    <li class="table-row">
      <div class="col col-1" data-label="S.No.">6.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source2_sha256'>avcaeser.malware.lu (SHA256)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source2_sha256_sort'>Sort By Hash</a></div>

    </li>

    <li class="table-row">
      <div class="col col-1" data-label="S.No.">7.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/source3_sha1'>totalhash.com (SHA-1)</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/source3_sha1_sort'>Sort By Hash</a></div>

    </li>
    <li class="table-row">
      <div class="col col-1" data-label="S.No.">8.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/md'>All MD5 Hashes From Various Sources</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/md_sort'>Sort By Hash</a></div>

    </li>
    <li class="table-row">
      <div class="col col-1" data-label="S.No.">9.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/sha1'>All SHA-1 Hashes From Various Sources</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/sha1_sort'>Sort By Hash</a></div>

    </li>
    <li class="table-row">
      <div class="col col-1" data-label="S.No.">10.</div>
      <div class="col col-2" data-label="SOURCES"><a style="color: white" href='http://127.0.0.1:5000/sha256'>All SHA-256 Hashes From Various Sources</a></div>
      <div class="col col-4" data-label="SORT"><a style="color: white" href='http://127.0.0.1:5000/sha256_sort'>Sort By Hash</a></div>

    </li>


  </ul>
</div>



</body>

</html>
