body {
  background: #9B5B40;
    background: -webkit-linear-gradient(#455062, #9B5B40);
    background: -o-linear-gradient(r#455062, #9B5B40);
    background: -moz-linear-gradient(#455062, #9B5B40);
    background: linear-gradient(#455062, #9B5B40);
    color:white ;
    font-family: tahoma;
}

.main {
  position:relative;
}

.container {
  max-width: 1500px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

h2 {
  font-size: 22px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
  color : white
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #35475F ;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #35475F;
  box-shadow: 5px 10px 8px #696969;
}
.responsive-table .col-1 {
    color: white;
  flex-basis: 5%;
}
.responsive-table .col-2 {
    color: white;
  flex-basis: 50%;
}
.responsive-table .col-3 {
    color: white;
  flex-basis: 10%;
}
.responsive-table .col-4 {
color: white;
  flex-basis: 10%;
}
.responsive-table .col-5 {
color: white;
  flex-basis: 15%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #35475F;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }

  .llp{
    display: inline-block;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 14px;
    border-bottom: solid 2.5px #26B297;
    color: #ccc;}
}
